:root {
  --background: #4324fb;
  --nav-color: white;
  --font-family: nhg-s65, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --white: #fff;
  --black: #000;
  font-size: 16px;
  --normal-weight: var(--normal-weight);
  --bold-weight: 600;
  /* --accent-color: #70FB6D; */
  /* --accent-color: magenta; */
  --accent-color: #E1FD7E;
  /* --accent-color: #7232fb; */
  --mobile-nav: 2rem;
}

body {
  margin: 0;
  background-color: var(--background);
}

li:hover {
  cursor: pointer;
}

.shape {
  width: 100vw;
  height: 100vh;
}

.header-text {
  padding: 20px;
  width: calc(100vw - 40px);
  position: absolute;
  text-align: center;
  z-index: 100;
  display: block;
  display: flex;
  justify-content: space-between;

  color: var(--nav-color);
  font-family: var(--font-family);
  font-weight: var(--bold-weight);
  background-color: transparent;
  text-align: left;
}

.header-text h1 {
  font-size: 28px;
  margin: 0;
}

img.hamburger-icon {
  height: 1.75rem;
  width: auto;
  display: none;
}

.topnav {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 24px;
  font-weight: var(--normal-weight);

  display: flex;
  flex-direction: row;

}

li {
  float: right;
  padding: 0;
  padding-left: 16px;
  margin: 0;
  font-weight: 600;
}

li a {
  display: block;
  color: var(--nav-color);
  text-align: center;
  text-decoration: none;
  text-align: left;
}

li a:hover {
  color: var(--accent-color);
}

/* about section */

.aboutDrawer {
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: none;
}

.aboutDrawer__text {
  display: inline-block;
  background-color: var(--accent-color);
  bottom: 0;
  position: fixed;
  margin: 0;
  padding: 0;

  /* width: 90%; */
  position: fixed;
  /* left: 50%;
  margin-left: -45%; */

  width: 100%;
  margin: 0 auto;

}

.aboutDrawer__text p {
  font-size: 2.5rem;
  /* line-height: 3.75 rem; */
  line-height: 110%;
  /* color: var(--white); */
  color: var(--black);
  font-family: var(--font-family);
  /* padding: 50px 60px; */
  margin: 0;
  font-weight: var(--bold-weight);
  /* width: calc(90vw - 120px);
  margin: 0 auto; */

  padding: 40px;
  /* width: 100%; */

}

.aboutDrawer__githubLink {
  color: black;
  text-decoration: none;
}

.aboutDrawer__emailLink {
  color: var(--black);
  text-decoration: none;

  display: inline-block;
  word-break: break-word;
}

/* mobile */

@media screen and (max-width: 600px) {
  .header-text h1 {
    font-size: var(--mobile-nav);
    text-align: left;
    color: white;
  }

  .aboutDrawer {
    overflow: scroll;
  }

  .aboutDrawer__text {
    width: 100%;
    left: 0;
    margin: 0;
  }

  .aboutDrawer__text p {
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 2rem;
    padding: 20px;

    /* padding: 25px 30px;
    width: calc(100% - 60px); */


  }

  .topnav {
    flex-direction: column;
    align-items: flex-end;
    height: var(--mobile-nav);
  }

  .bgLayer {
    display: none;
    background-color: transparent;
    z-index: -1;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img.hamburger-icon {
    display: block;
    /* margin-bottom: 16px; */
    float: right;
    height: 100%;
  }

  ul {
    flex-direction: column;
    display: none;
    background-color: white;

    position: fixed;
    top: 72px;

    width: 100vw;
    background-color: var(--background);
    right: 0px;


    padding-right: 12px;
    color: white;

    top: 0;
    padding-top: 72px;
    z-index: -1;
  }

  li {
    padding: 0;
    padding-left: 20px;
  }

  li a {
    padding: 8px 8px 16px;
    font-size: 1.75rem;
    color: white;
  }

  li a:hover {
    color: white;
  }
}
