:root {
  --background: #4324fb;
  --nav-color: white;
  --font-family: nhg-s65, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --white: white;
  font-size: 16px;
  --normal-weight: var(--normal-weight);
  --bold-weight: 600;
  /* --accent-color: #70FB6D; */
  --accent-color: magenta;
}

body {
  margin: 0;
  background-color: var(--background);
}

.shape {
  width: 100vw;
  height: 100vh;
}

.header-text {
  padding: 20px;
  width: calc(100vw - 40px);
  position: absolute;
  text-align: center;
  z-index: 100;
  display: block;
  display: flex;
  justify-content: space-between;

  color: var(--nav-color);
  font-family: var(--font-family);
  font-weight: var(--bold-weight);
  background-color: transparent;
  text-align: left;
}

.header-text h1 {
  font-size: 28px;
  margin: 0;
  flex-grow: 2;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 24px;
  font-weight: var(--normal-weight);

  display: flex;
  flex-direction: row;
}

li {
  float: right;
  padding: 0;
  padding-left: 16px;
  margin: 0;
  font-weight: 600;
}

li a {
  display: block;
  color: var(--nav-color);
  text-align: center;
  text-decoration: none;
  text-align: right;

}

li a:hover {
  color: var(--accent-color);
}

/* about section */

.aboutDrawer {
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: none;
}

.aboutDrawer__text {
  display: inline-block;
  background-color: var(--accent-color);
  bottom: 0;
  position: fixed;
  margin: 0;
  padding: 0;
}

.aboutDrawer__text p {
  font-size: 2.5rem;
  line-height: 3.75 rem;
  color: var(--white);
  font-family: var(--font-family);
  padding: 50px 60px;
  margin: 0;
  font-weight: var(--bold-weight);
  /* text-transform: uppercase; */
  width: calc(100vw - 80px);
  margin: 0 auto;
}

.aboutDrawer__githubLink {
  color: black;
  text-decoration: none;
}

.aboutDrawer__emailLink {
  color: white;
  text-decoration: none;
}




/* mobile */

@media screen and (max-width: 600px) {

  .header-text h1 {
    font-size: 2rem;
    text-align: left;
    color: white
  }

  .aboutDrawer {
    overflow: scroll;
  }

  .aboutDrawer__text p {
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 4rem;
  }

  ul {
      flex-direction: column;
  }

  li a {
      padding-bottom: 16px;
      font-size: 1.75rem;
  }
}